<h2>Estadísticas</h2>

<p>El numero de preguntas es <%= count %></p>

<p>El numero de comentarios es <%= count_c %></p>

<p>El numero medio de comentarios en pregunta es <%= count_p %></p>

<p>El numero de preguntas sin comentario es <%= count_s %></p>

<p>El numero de preguntas con comentario es  <%= count_cm %></p>